body{
font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Sans TC', sans-serif; 
  text-transform: none;
}
.subheading {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.2rem;
  text-transform:none;
  letter-spacing:-0.05rem;
}
h1 .text-primary {
        font-family: 'Noto Sans TC', sans-serif;
	font-size: 3rem;
	letter-spacing: -0.05rem;
	line-height: 3rem;
}

.graph_set {
	margin-top:3rem;
}

.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.text-primary {
  color: #e6d4b8 !important;
}

.bg-primary {
  background-color: #e6d4b8 !important;
}

.btn-primary {
  background-color: #e6d4b8 !important;
  border-color: #e6d4b8 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #df902a;
  border-color: #df902a;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e6d4b8 !important;
}

#mainNav {
  background-color: #a3a3a3; !important
  font-family: 'Raleway';
}
