.product-item {
  @media (min-width: 992px) {
    .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .product-item-img {
      position: relative;
      z-index: 0;
      max-width: 60vw;
    }
    .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
  }
}
.fixed-book-table {
    background: url(../img/book-table-bg.png) no-repeat center;
    right: 0;
    p {
        @include transform(rotate(270deg) translate(-82px, 16px));
        a {
            color: #ffffff;
            &:hover {
                color: #000000
            }
        }
    }
    &:hover {
        p {
            @include transform(rotate(360deg) translate(5px, 80px));
        }
    }
}

